body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#remote {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0;
  width: 100%;
}
video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#local {
  position: absolute;
  z-index: 3;
  bottom: 30px;
  right: 30px;
 
  width: 30%;
 
}
/* .buttonContainer {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  bottom: 0px;
  z-index: 5;
} */
/* .hangUpContainer {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;

  bottom: 100px;
  z-index: 5;
} */
/* .buttonItem {
  border-radius: 50%;
  background-color: #f1f1f1;
  width: 60px;
  margin: 20px;
  z-index: 5;

  height: 60px;
}

.hangUp {
  z-index: 5;

  width: 70px;

  margin: auto;
  border-radius: 50%;
  height: 70px;
} */

div.relative {
  position: relative;
  width: 100%;
  height: 100vh;

} 
.brightNess{
  position: absolute;
  z-index: 2;
  bottom: 0px;
  left: 0;
  height:45%;
  width: 100%;
background-color: white;

}