


p {
    max-width: 500px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    color: white;
    text-align: center;
  }
  .timeCss{
    width: calc(100%-40vw);
    text-align: center;
    color: "gray" 
  }
  .message {
    display: flex;
   
    align-items: center;
  
  }



  p{
      overflow-wrap: break-word;
  }
  
  .sent {
    flex-direction: row-reverse;
  }
  
  .sent p {
    color: black;
   
    align-self: flex-end;
  }
  .received p {
    
    color: black;
  }
